# Ignore PDF files
*.pdf
*.tar.gz
*.zip
*.rar
*.7z
*.exe
pa3.md

# Ignore shell322 binary but keep the folder
**/shell322
!**/shell322/
*.o

# Ignore all of PA1 except backup
PA1/*
!PA1/backup
!PA1/backup/**
